/*.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}*/

.header {
  background-color: #0074D9;
  color: white;
  padding: 20px;
}

.sidebar {
  background-color: #2ECC40;
  color: white;
  padding: 20px;
  width: 200px;
}

.main {
  background-color: #F0F0F0;
  padding: 20px;
  flex: 1;
}

.footer {
  background-color: #FF851B;
  color: white;
  padding: 20px;
}